@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

body {
  margin: 0;
  padding: 0;
  font-size: 1rem; /* Zamiast 20px, co odpowiada 16px */
  background-color: #202020;
  color: #ffffff;
  font-family: 'Poppins', sans-serif; /* Ustal globalną czcionkę */
}

header {
  margin: 15px 20px 0; /* Ścisła gorna i boków */
  background-color: #202020;
  padding: 13px;
  font-family: "Indie Flower", cursive;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  margin-right: 60px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem; /* Zmiana na rem */
  position: relative;
}

nav ul li a:hover::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #ff6347;
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 1.125rem; /* Zmiana na rem */
  cursor: pointer;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.light-mode header {
  background-color: #ffffff;
  color: #000000;
}

body.light-mode nav ul li a {
  color: #000000;
  font-family: Arial, sans-serif; /* Ustawienie czcionki w trybie jasnym */
}

h1 {
  font-family: "Poor Story", cursive;
  margin: 300px 0 0 0;
  font-size: 6.25rem; /* Zmiana na rem */
}

h2 {
  font-family: "Poor Story", cursive;
  margin: -80px 0 0 0;
  font-size: 5rem; /* Zmiana na rem */
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: -185px 300px 0 0; /* Możesz praktycznie dodać te marginesy */
}

.social-icons li {
  margin: 30px;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  border-radius: 50%; /* Umożliwia idealne okrągłe przyciski */
  background-color: #202020;
  color: #ffffff;
  font-size: 60px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  background-color: #ffffff;
  color: #202020;
}

.social-icon i {
  transition: transform 1s ease;
}

.social-icon:hover i {
  transform: scale(1.2);
}

nav ul li #glowna {
  color: #ff6347; /* Kolor tekstu */
}

footer {
  text-align: center;
  background: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.circle-image {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  position: absolute; /* Umożliwia precyzyjne pozycjonowanie */
  left: 30px; /* Przesuwa zdjęcie w prawo */
}

.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Zapewnia, że zdjęcie pokrywa cały obszar bez deformacji */
}

.circle-link {
  display: inline-block;
  text-decoration: none; /* Usuwa podkreślenie z linku */
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    h1 {
        font-size: 4rem; /* Dostosuj rozmiar dla mniejszych ekranów */
    }
    
    .social-icons {
        margin-right: 0; /* Dostosuj marginesy ikon */
    }
}
